@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared css  */

.imageCenter {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  color: rgb(103, 37, 37);
}
